# Test 1.0 (Basic Python)

# List

In [1]:
fruits=[]

In [2]:
print(fruits)

[]

In [5]:
fruits.append('apple')

In [6]:
fruits

['apple']

In [8]:
fruits.extend(["banana","cherry"])

In [9]:
fruits

['apple', 'banana', 'cherry']

In [10]:
fruits.remove('banana')

In [11]:
fruits

['apple', 'cherry']

In [27]:
fruits.pop(-1)

'apple'

In [39]:
fruits=['apple', 'banana', 'cherry']

In [40]:
fruits

['apple', 'banana', 'cherry']

In [41]:
fruits.reverse()

In [42]:
fruits

['cherry', 'banana', 'apple']

In [43]:
fruits.insert(1,'mango')

In [44]:
fruits

['cherry', 'mango', 'banana', 'apple']

In [45]:
fruits[1:4]

['mango', 'banana', 'apple']

In [46]:
list1=[1,2,3,4,5]

In [47]:
list1[0:5:4]

[1, 5]

In [48]:
list1[2]=10

In [49]:
list1

[1, 2, 10, 4, 5]

In [56]:
fruits=['cherry', 'mango', 'banana', 'apple']

if fruits=='grape':
    print('grape is available')
else:
    print('grape is not available')

grape is not available

In [57]:
fruits=['cherry', 'mango', 'banana', 'apple']

for items in fruits:
    print(items)

cherry
mango
banana
apple

In [58]:
len(fruits)

4

# Tuple

In [71]:
tup=(1,2,3,2,4,2)

In [72]:
tup

(1, 2, 3, 2, 4, 2)

In [73]:
tup.count(2)

3

In [74]:
tup.index(4)

4

In [75]:
# Convert tuple into list
tup = list(tup)
# Append item in to list
tup.append(7)
# Convert list in to tuple
tup = tuple (tup)
tup

(1, 2, 3, 2, 4, 2, 7)

In [76]:
colour=("red","green","blue")

In [77]:
colour

('red', 'green', 'blue')

In [79]:
colour=("red","green","blue")
colour[2]="black"
colour

TypeError: 'tuple' object does not support item assignment

In [80]:
# Convert tuple into list
colour = list(colour)
# Append item in to list
colour.append("yellow")
# Convert list in to tuple
colour = tuple (colour)
colour

('red', 'green', 'blue', 'yellow')

# Set

In [86]:
my_set=set()

In [87]:
type(my_set)

set

In [88]:
my_set.add("apple")

In [89]:
my_set

{'apple'}

In [90]:
my_set.add("banana")

In [91]:
my_set

{'apple', 'banana'}

In [92]:
my_set.add("apple")
my_set
# apple is not added 2nd time

{'apple', 'banana'}

In [95]:
set1=[1,2,3]
set1=set(set1)
set2=[3,4,5]
set2=set(set2)
union_set = set1 | set2
union_set

{1, 2, 3, 4, 5}

In [96]:
intersection_set = set1 & set2
intersection_set

{3}

In [97]:
my_set.discard("apple")
my_set

{'banana'}

In [98]:
set3=[1,2,3,4,5,6,7,8,9]
set3=set(set3)
for i in set3:
    print(i)

1
2
3
4
5
6
7
8
9

# Dictionary

In [100]:
my_dict={"name":"Ali"}
my_dict

{'name': 'Ali'}

In [101]:
my_dict["name"]

'Ali'

In [106]:
my_dict={"name":"Ali"}
my_dict['age']=25
my_dict

{'name': 'Ali', 'age': 25}

In [109]:
my_dict.update({"name":"Ahmed"})
my_dict

{'name': 'Ahmed', 'age': '25'}

In [110]:
student={"name": "Sara", "grade": "A", "age": 17}
student

{'name': 'Sara', 'grade': 'A', 'age': 17}

In [112]:
student.keys()

dict_keys(['name', 'grade', 'age'])

In [113]:
student.values()

dict_values(['Sara', 'A', 17])

In [114]:
student={"name": "Sara", "grade": "A", "age": 17}
check="grade"
if check in student:
    print("grade is exist")
else:
    print("grade is not exist")

grade is exist

In [116]:
student={"name": "Sara", "grade": "A", "age": 17}
for key,value in student.items():
    print(key,":",value)

name : Sara
grade : A
age : 17

# If-Elif-Else

In [117]:
numbers = [5, 10, 15, 20, 25]

if(numbers[0]==10):
    print("Found 10")
elif(numbers[1]==10):
    print("Found 10")
elif(numbers[2]==10):
    print("Found 10")
elif(numbers[3]==10):
    print("Found 10")
elif(numbers[4]==10):
    print("Found 10")
else:
    print("10 not found")

Found 10

In [118]:
a=27
if a>20:
    print("Large Number")
else:
    print("Small Number")

Large Number

# Simple Expression

In [119]:
a=5
b=10
print(a+b)
print(a*b)
print(b-a)
print(b/a)

15
50
5
2.0

In [120]:
c=(a+b)*2
c

30

In [122]:
age=int(input())
if (age >=18):
    print("you are eligable")
else:
    print("you are not eligable")

12
you are not eligable

# More Expression Questions

In [123]:
# area of a rectangle
width=5
height=10
area=width*height
area

50

In [125]:
# converts Celsius to Fahrenheit:
C =25
F = (C * 9/5) + 32
F

77.0

In [126]:
# simple interest

P = 1000
R = 5
T = 2

SI = (P*R*T)/100
SI

100.0

# Range Function

In [128]:
for i in range(5):
    print(i)

0
1
2
3
4

In [129]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [130]:
for i in range(5):
    print("Hello")

Hello
Hello
Hello
Hello
Hello

In [133]:
for i in range(2,11,2):
    print("Even Number:",i)

Even Number: 2
Even Number: 4
Even Number: 6
Even Number: 8
Even Number: 10

In [135]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [142]:
list1=[]
for i in range(3,8):
    list1.append(i)
    print(list1)

[3, 4, 5, 6, 7]

In [144]:
for i in range(1,5):
    square = i**2
    print(square)

1
4
9
16