# Test 2.0

# Functions

In [1]:
# 1- Write a function that takes a number and returns its square.

In [4]:
def square(num):
    print("your given number square is",num*num)

In [5]:
square(5)

your given number square is 25

In [6]:
# 2- Write a function that takes two numbers and returns the larger one.

In [7]:
def larger_one(n1,n2):
    if n1>=n2:
        print(n1,"is larger number in both of them")
    else:
        print(n2,"is larger number in both of them")

In [8]:
larger_one(45,56)

56 is larger number in both of them

In [9]:
larger_one(78,23)

78 is larger number in both of them

In [10]:
# 3- Write a function that prints “Welcome to AIML” five times using a loop.

In [13]:
a="Welcome to AIML"
n=5
i=0
while i<n:
    print(a)
    i+=1

Welcome to AIML
Welcome to AIML
Welcome to AIML
Welcome to AIML
Welcome to AIML

In [14]:
# 4

In [15]:
def check(n):
    if n % 2 ==0:
        print(n,"is even number")
    else:
        print(n,"is odd number")

In [16]:
check(6)

6 is even number

In [17]:
check(7)

7 is odd number

In [18]:
#5

In [19]:
a=[1,2,3,4]
b=0
for sum in a:
    b += sum
print(b)

10

# loops

In [20]:
# 1
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [22]:
#2
a=2
while a <= 20:
    print(a)
    a += 2

2
4
6
8
10
12
14
16
18
20

In [24]:
# 3
def char(input_s):
    for i in input_s:
        print(i)
my_s="Disha"

In [25]:
char(my_s)

D
i
s
h
a

In [27]:
# 4
num=int(input("Enter Number which one you want a table"))

for i in range(1,11):
    print(str(num), 'X' ,str(i),"=",str(num*i))

Enter Number which one you want a table5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [29]:
# 5
def positive_num(num):
    for number in num:
        if number > 0:
            print(number)
list1=[24,25,26,27,0,-1,-2]
positive_num(list1)

24
25
26
27

# Try and Except

In [30]:
# 1
def divide_num(num,deno):
    try:
        result=num/deno
        print(result)
    except ZeroDivisionError:
        print("can't divide by 0")

In [32]:
num1 = 10
num2 = 2
print(f"The result of dividing {num1} by {num2} is: {divide_num(num1, num2)}")

num3 = 10
num4 = 0
print(f"The result of dividing {num3} by {num4} is: {divide_num(num3, num4)}")

5.0
The result of dividing 10 by 2 is: None
can't divide by 0
The result of dividing 10 by 0 is: None

In [38]:
# 2
while True:
    try:
        user_input= input("please enter a num: ")
        number = float(user_input)
        print("You entered : ", number)
        break
    except ValueError:
        print("Invalid input.Please enter a valid number")

please enter a num: efgfd
Invalid input.Please enter a valid number
please enter a num: 5
You entered :  5.0

In [34]:
# 3

In [35]:
# 4

In [39]:
# 5
while True:
    try:
        user_input = input ("Enter an integere: ")
        int_value = int(user_input)
        print("Ypur entered: ",int_value)
        break
    except ValueError:
        print("Invalid input.please entered valid value")

Enter an integere: 3.4
Invalid input.please entered valid value
Enter an integere: 4
Ypur entered:  4

# Lambda,Map,Filter

In [43]:
#1
add_num = lambda x:x+10
n1=add_num(78)
print(n1)

88

In [44]:
#2
num=[1,2,3,4,5]
num2 = list(map(lambda x:x**2,  num))
print(num2)

[1, 4, 9, 16, 25]

In [46]:
#3
num=[1,2,3,4,5]
num2 = list(filter(lambda x:x % 2 == 0,  num))
print(num2)

[2, 4]

In [48]:
#4
l1=['abc','bvm','fbg']
u1=list(map(lambda x: x.upper(), l1))
print(u1)

['ABC', 'BVM', 'FBG']

In [ ]:
#5

def filter_num(num1):
    filtered_numbers = list(filter())

# Variable Scope